body {
	margin: 0;
	padding: 0;
}
.main_name {
	font-size: 20px;
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main_name span::before {
	content: " ";
	position: relative;
	display: inline-block;
	top: 3px;
	left: 0;
	width: 18px;
	height: 15px;
	margin: 0 5px 2px 0;
	background-image: url(img/菜单.png);
}

table {
	width: 100%;
	table-layout: fixed;
	background-color: #aaffff;
}

th {
	border: 1px solid gray;
	text-align: center;
	height: 30px;
	width: 170px;
	padding: 0;
}

td {
	border: 1px solid gray;
	text-align: center;
	height: 40px;
	padding: 0;
}

td button {
	border: 2px solid #ddd;
	background-color: #ff0000;
	border-radius: 25%;
	padding: 5px 10px;
	margin-right: 10px;
	cursor: pointer;
}